div.css-1r6slb0.e1f1d6gn2{
    background-color: #E0FFFF;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    border: 2px solid #000000;
    border-radius: 10px;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: auto;
    color: rgb(0, 0, 0);
    box-sizing: border-box;}

    